@import "tailwindcss";
@plugin "daisyui";

.slick-prev {
    left: 20px !important; 
    z-index: 100 !important; 
}

.slick-next {
    right: 20px !important; 
    z-index: 100 !important;
}
.slick-prev:before,
.slick-next:before {
    color: #f0f0f0 !important; 
    font-size: 30px !important; 
    opacity: 10 !important;
}

.slick-dots {
    bottom: 25px !important;
}

.slick-dots li button:before {
    color: #f0f0f0 !important; 
    opacity: 0.5 !important;
    font-size: 10px !important; 
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
}
.navbar-container {
  @apply bg-base-100 border-b border-base-300 backdrop-blur-md;
}

.nav-btn {
  @apply  py-2 rounded-lg hover:bg-white hover:text-black transition font-medium;
}

.btn-primary {
  @apply  text-white px-3 py-1 rounded-lg transition;
}
